sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: BeuHqPuC7283U+38sfcNg3jixA8oyZqO+A6WJWoVRdxcJblidu4MevHbdCPhfNKCaV85gSIvKzAS9lKA7DV9+R7BRjsa84+YRPUp0mq32dmV4pBoKapLAvqgk3QmKczAkdb/ipBGQ3CVhhzTGsp9g/W2R7Iu6Qzp0y4EzVeXNQJJoEVh+VR+J/l28dX/WKcJRb0Irf4yn0Yp/8vqaAxTpoXdtwbndCX1tY4xo/WUlZRk8+SgA1LOhzdroNsAKX+oBG0FTzPib+mJfo+XF5+kMh0Unrf+u3KGpZR74GeC8Shq1AL8rZprmRuIAk+32882y+G9htqXIRsVCV3p8EOu/Et6E6EJWXscI0tgD+zz5ZAAlQ2MSpIy5Ffk1OgaAXDIDvNsI1A+nw0/YVLhLy7yTguEULr09U6mFXIdfCRi/l3zcURWJZ54zi209Q8nJ0zsCWy849epL76xtPSn20IA/5/OYJ0CAz7Xvw4JhxXMLWHqUrielIOD+MFTZ9Aed3TpWO8DqE6CKemWg8Xn9hbeaq0Kuu68edGJidJMyoqpBg4cqvh+r/cbwxAk2aBVT8jK13VniXSG17zojn2/i7Yza0v/fshWP9GARqeeqm7KSCWHZ388Gu1I9sHu3KzvuQUNz6evSTh1+8CP7q6HJWMhl5TmXLQKm0icp3sb0HZZgCU=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/The-Mob--A-Play-in-Four-Acts_2914
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy